@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

header{
    font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
}


.navbar{
    font-size: 16px;
    background-color: #feffff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.logo-company,
.nav-links{
    text-decoration: none;
    color: #2B7A78;
}

.main-nav li{
    text-align: center;
    margin: 30px auto;
}

.logo-company{
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
}

.hamburger-icon{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    color: #2B7A78;
    font-size: 24px;
}

.active{
    display: block;
}

.jumbotron{
    display: flex;
    flex-direction: row;
    color: #2B7A78;
    background-color: #feffff;
}

.tosca-color{
    color: #17252A
}

.tosca-light-color{
    color: #3AAFA9
}

.tosca-color-medium{
    color: #2B7A78;
}

.popup-title{
    font-size: 48px;
    text-align: center;
}

.white-color{
    color: #feffff;
}

.container-column{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    height: 500px;

    /*background-color: tomato;*/
}

.column-content{
    flex-basis: 65%;
    align-items: center;
    padding-top: 25%;

    /*background-color: violet;*/
}

.column-button{
    flex-basis: 35%;
    height: 100px;
    
    /*background-color: aqua;*/
}

.image-jumbotron{
    flex-basis: 65%;
}

.jumbotron .column-content p{
    margin-left: 70px;
}

.title-header{
    font-size: 2.2em;
    font-weight: bold;
}

.font-tipis{
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 25px;
}

.button{
    background-color: #2B7A78;
    color: #feffff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 16px 50px;
    margin-top: 20px;
    margin-left: 70px;
    transition-duration: 0.5s;
}

.button:hover{
    border: 1px solid #3AAFA9;
    background-color: #feffff;
    color: #2B7A78;
}

.img-header{
    width: 90%;
    margin-left: 30px;
}

.about-container{
    display: flex;
    flex-direction: row;
    background-color: #feffff;
    height: 700px;
}

.title-section{
    flex-basis: 50%;
    padding: 10% 0 0 20%;
    letter-spacing: 5px;
    line-height: 60px;
}

.content-section{
    flex-basis: 50%;
    padding: 15% 15% 0 0;
    line-height: 32px;
    text-align: justify;
    font-size: 18px;
}

.container-problem{
    display: flex;
    flex-direction: column;
    background-color: #feffff;
    height: 100%;
    margin-top: 100px;
}

.problem-article-odd{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    background-color: #feffff;
}

.problem-article-even{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    background-color: rgba(222, 242, 241, 0.5);
}

.problem-article-odd-image,
.problem-article-even-image{
    flex-basis: 45%;
    padding-top: 10px;
}

.problem-article-odd-content,
.problem-article-even-content{
    flex-basis: 55%;
}

.image-main-problem{
    width: 80%;
    padding-left: 10%;
}

.image-main-problem-bigger{
    width: 95%;
    padding-top: 20px;
}

.center-title{
    text-align: center;
    padding: 50px 0;
}

.bigger-text{
    font-size: 3em;
}

.problem-article-odd .title-section,
.problem-article-even .title-section{
    padding: 10% 30% 0 0;
    letter-spacing: 5px;
    line-height: 60px;
}

.problem-article-odd .content-section,
.problem-article-even .content-section{
    padding: 5% 30% 0 0;
    line-height: 32px;
    text-align: left;
    font-size: 18px;
}

.problem-article-even .title-section,
.problem-article-even .content-section{
    text-align: right;
    padding-right: 0;
    padding-left: 30%;
}

.meet-guide{
    background-color: #feffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

.title-button{
    background-color: #3AAFA9;
    margin: 2% 43%;
    padding: 1% 2%;
    display: block;
    text-align: center;
    border-radius: 50px;
}

.title-meet-guide .bigger-text{
    font-size: 2.5em;
}

.small-text{
    font-size: 1.2em;
}

.center-paragraph{
    text-align: center;
    padding: 10px 120px;
    line-height: 32px;
}

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 400px;
    background-color: #feffff;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.20);
}

.card-image{
    flex-basis: 30%;
    padding: 20px 0px;
}

.card-image img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

.card-section{
    flex-basis: 50%;
    padding: 25px 0px;
    text-align: center;
    color: #2B7A78;
}

.card-section h3{
    font-weight: normal;
}

.card-section p{
    color: #3AAFA9;
    padding: 0px 25px;
}

.card-button{
    flex: 20%;
    display: block;
    margin: 10% 10%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #22DFC0;
    background-color: #feffff;
    color: #2B7A78;
    transition-duration: 0.5s;
}

.card-button:hover{
    background-color: #22DFC0;
    color: #feffff;
}

.form-section{
    background-color: rgba(222, 242, 241, 0.5);
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: center;
}

.fill-form{
    flex-basis: 60%;
    margin: 20px 10px 20px 100px;
    padding: 20px;
}

.main-form{
    display: flex;
    flex-direction: column;
}

.main-form div{
    margin: 20px 0px;
}

.main-form label{
    margin-bottom: 15px;
}

.main-form input{
    padding: 10px 70% 10px 10px;
    background-color: inherit;
    border: 1px solid #22DFC0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    transition-duration: 0.5s;
}

.main-form input:hover{
    border: 1px solid #17252A;
}

.two-column-form{
    flex-basis: 16%;
}

.two-column-form .row-form-1{
    display: inline-block;
}

.two-column-form .row-form-1 label{
    display: block;
}

.one-row-form{
    flex-basis: 16%;
}

.one-row-form label{
    display: block;
}

.submit-form{
    flex-basis: 16%;
}

.submit-form .submit-button{
    display: block;
    margin: 10% 40%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #22DFC0;
    color: #2B7A78;
    transition-duration: 0.5s;
}

.submit-button:hover{
    background-color: #22DFC0;
    color: #feffff;
}

.my-profile{
    flex-basis: 30%;
    margin: 20px 100px 20px 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.20);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}

.my-profile:hover{
    box-shadow: 0px 0px 6px rgba(58,175,169,0.80);
}

.title-profile{
    flex-basis: 10%;
    text-align: center;
    margin-top: 20px;
}

.image-profile{
    flex-basis: 40%;
    text-align: center;
}

.biodata-profile{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.profile-column{
    flex-basis: 20%;
}

footer{
    background-color: #17252A;
    height: 100%;
    color: #feffff;
}

.container-header-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.footer-about-contact{
    flex-basis: 55%;
    display: flex;
    flex-direction: row;
}

.footer-product-sosmed{
    flex-basis: 45%;
    display: flex;
    flex-direction: row;
}

.flex-row{
    flex-basis: 50%;
}

.flex-row .logo-company{
    padding: 25px;
}

.flex-row p,
.flex-row h3{
    margin: 0px 10px 0px 80px;
    text-align: justify;
    color: #feffff;
    line-height: 25px;
}

.flex-row .card-section{
    text-align: left;
}

.product-list{
    list-style-type: none;
    display: inline-block;
    margin-left: 105px; 
}

.product-list li{
    margin-bottom: 7%;
}

.product-list li a{
    text-decoration: none;
    color: #feffff;
}

.flex-row .fa{
    padding: 20px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px 5px 4px;
    background-color: #22DFC0;
    color: #17252A;
}

.footer-icon{
    tab-size: 4px;
}

.footer-icon a{
    display: block;
    padding: 0px 20px 20px 20px;
    margin: 0px 15px 0px 65px;
    color: #feffff;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}

.footer-icon i{
    padding: 5px;
}

.footer-icon-mobile{
    text-align: center;
}

.footer-icon-mobile .fa{
    padding: auto 0;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 5px 7px;
    border-radius: 0%;
    background-color: #22DFC0;
    color: #17252A;
    display: none;
}

.bottom-footer{
    background-color: #17252A;
    color: #feffff;
    text-align: center;
    padding: 2%;
}

.border-top{
    margin: 0 5%;
    border-top: 1px solid #22DFC0;
}

.border-top p{
    padding: 2%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    color: #fefefe;
    background-color: #22DFC0;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Set the size of the div element that contains the map */
#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.wrapper{
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
    font-size: 30px;
    font-weight: 600;
}
.wrapper .inputField{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}
.inputField input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.inputField input:focus{
    border-color: #22DFC0;
}
.inputField button{
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #22DFC0;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}
.inputField button:hover,
.footer-todo button:hover{
    background: #3AAFA9;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todoList{
    max-height: 500px;
    overflow-y: auto;
}
.todoList li{
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todoList li .icon{
    position: absolute;
    right: -45px;
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.todoList li:hover .icon{
    right: 0px;
}
.wrapper .footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.footer-todo button{
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #22DFC0;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}
.footer-todo button.active{
    opacity: 1;
    pointer-events: auto;
}

.blog-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 25%;
}

.sub-blog-container{
    background-color: #fefefe;
    flex-basis: 33.33%;
    height: 100px;
}

.blog-card{
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10px;
    margin-top: 50px;
    background-color: #22DFC0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.blog-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blog-card-img{
    background-color: #e74c3c;
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 300px;
}

.blog-card-title{
    text-align: center;
    background-color: aqua;
}

.blog-card-text{
    background-color: black;
}

@media screen and (min-width: 768px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        height: 70px;
        align-items: center;
    }

    .main-nav{
        display: flex;
        margin-right: 30px;
        justify-content: flex-end;
    }

    .main-nav li{
        margin: 0;
    }

    .nav-links{
        margin-left: 40px;
    }

    .logo-company{
        margin-top: 0;
    }

    .hamburger-icon{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .jumbotron{
        flex-direction: column-reverse;
    }

    .column-content{
        flex-basis: 40%;
        padding-top: 5%;
    }

    .image-jumbotron{
        width: fit-content;
    }

    .about-container{
        flex-direction: column;
        margin-top: 25px;
        height: 900px;
    }

    .content-section{
        padding: 0px 15% 0 50px;
        flex-basis: 70%;
    }

    .title-section{
        flex-basis: 30%;
        padding: 10% 0 0 50px;
    }

    .problem-article-odd{
        flex-direction: column;
    }

    .problem-article-even{
        flex-direction: column-reverse;
    }

    .problem-article-even .title-section,
    .problem-article-even .content-section,
    .problem-article-odd .title-section,
    .problem-article-odd .content-section{
        padding: 30px;
    }

    .title-button{
        margin: 2% 30%;
        padding: 2% 2%;
    }

    .container-card{
        flex-direction: column;
    }

    .container-header-flex{
        flex-direction: column;
    }
    
    .footer-about-contact{
        flex-direction: column;
    }
    
    .footer-product-sosmed{
        flex-direction: column;
    }

    .flex-row p,
    .flex-row h3{
        margin: 0px 10px 0px 0px;
        text-align: center;
        color: #feffff;
        line-height: 25px;
    }

    .flex-row .logo-company{
        display: block;
    }

    .product-list{
        display: block;
        text-align: center;
        margin: 0;
    }

    .footer-icon{
        display: none;
    }

    .footer-icon-mobile .fa{
        display: inline-block;
        transition-duration: 0.5s;
    }

    .footer-icon-mobile .fa:hover{
        border: 1px solid #22DFC0;
        background-color: #17252A;
        color: #22DFC0;
    }


    .form-section{
        flex-direction: column;
    }

    .main-form input{
        padding: 10px 30% 10px 10px;
    }

    .submit-form .submit-button{
        margin: 10% 30%;
    }

    .my-profile{
        margin-left: 100px;
    }

    .my-profile .image-profile img{
        width: 150px;
    }
}